ul{
    list-style:none;
    display: inline-block;
    padding: 0;
    padding-right: 10px;
    width: 150px;
}

ul li{
    display: block;
    padding: 10px;
    cursor:pointer;
    background-color:#eee;
    color:#7B8585;

    //transition:0.3s;
}

ul li:hover{
    background-color:#beecea;
}

ul li.focused{
    color:#fff;
    background-color:#41c7c2;
}

p{
    padding-top:15px;
    font-size:12px;
}
.menu{
    display: block;
    float: left;
    width: 200px;

}